<section style="margin-top: 10%;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {{#if status}}
          <div class="alert alert-success" role="alert">
            <span class="font-weight-bold">Success!</span> new value added to.</div>
        {{/if}}
        <div class="p-3 pb-4 border border-secondary rounded">
          <h5>Enter item to list</h5>
          <hr/>
          <form action="/add-item" method="POST" id="">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="item" placeholder="Add your text" aria-label="Recipient's username" aria-describedby="basic-addon2" required/>
              <div class="input-group-append"></div>
            </div>
            <center>
              <button type="submit" class="btn" style="background-color: #002387; color: #fff;">Submit</button>
            </center>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>