<section style="margin-top: 5%;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="p-3 pb-4 border border-secondary rounded">
                    <h5>Items in the list</h5>
                    <hr>
                    <div id="list-example" class="list-group">
                        {{#each listItem}}
                        <a class="list-group-item list-group-item-action">{{this.slno}}. {{this.item}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>